
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(assets/downtown-calgary.png);
  background-size:cover;
}
